@model AloStorPerdeYikama_v2.Controllers.AnaSayfaDTO

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ##### Slayder ##### -->

<section class="hero-area">
    <div class="hero-post-slides owl-carousel">
        <!-- Single Hero Post -->
        
        @foreach (var slayt in Model.DTO_slider)
        {
        <div class="single-hero-post bg-overlay">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url('data:image/png;base64,@System.Convert.ToBase64String(slayt.SliderFoto)');"></div>
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Content -->
                        <div class="hero-slides-content text-center">
                            <h2>@slayt.SliderText</h2>
                            <p>@slayt.SliderSubText</p>
                            <div class="welcome-btn-group">
                                <a href="/About" class="btn alazea-btn mr-30">HAKKIMIZDA</a>
                                <a href="/Contact" class="btn alazea-btn active">İLETİŞİM</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</section>

<!-- ##### Hizmetlerimiz ##### -->

<section class="our-services-area bg-gray section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>HİZMETLERİMİZ</h2>
                    <p>İddalıyız..En kaliteli hizmeti en uygun fiyata sunuyoruz.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-12 col-lg-12">

                @foreach (var item in Model.DTO_Hizmet_Turu)
                {
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-2">
                            @if (item.fotograf == null)
                                {
                                <img src="./Content/img/bg-img/1-1.jpg" style="height:200px;width:200px;" />
                                }
                                else
                                {
                                <img src="data:image/png;base64,@System.Convert.ToBase64String(item.fotograf)" style="height:100%" class="card-img" alt="hizmet türleri">
                                }
                        </div>

                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="card-title">@item.Title</h5>

                                @if (string.IsNullOrEmpty(item.TitleSub) == false && item.TitleSub.Length > 280)
                                    {
                                    <p class="card-text">@(item.TitleSub.Substring(0, 280) )</p>

                                    <button type="button" class="btn btn-outline-primary pull-right mb-3" data-toggle="modal" data-target="#denemehkn" data-hizmet-id="@item.ID">Devamı...</button>
                                    }
                                    else
                                    {
                                    <p class="card-text">@item.TitleSub</p>
                                    }


                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>



</section>

<!-- ##### Portfolio Area Start ##### -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- Section Heading -->
            <div class="section-heading text-center">
                <h2>NELER YAPTIK?</h2>
                <p>Tecrübe ve bilgi birikimimiz ile hizmetinizdeyiz.</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    @*<div class="row">
        <div class="col-12 text-center">
            @Html.Action("GaleryTurleri", "Home")
        </div>*@
    @*<div id="myBtnContainer">
            <button class="btn1 active" onclick="filterSelection('all')"> Show all</button>
            <button class="btn1" onclick="filterSelection('1')"> Nature</button>
            <button class="btn1" onclick="filterSelection('2')"> Cars</button>
            <button class="btn1" onclick="filterSelection('3')"> People</button>
        </div>*@
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div id="myBtnContainer ">
                    @*<div class="btn-group btn-group-toggle" data-toggle="buttons">*@
                        @*<label class="btn btn-primary active">
                            <input type="radio" name="options" id="option1" onclick="filterSelection('all')" autocomplete="off" checked> Hepsi
                        </label>*@

                        <button type="button" class="btn btn-info" onclick="filterSelection('all')" checked> Hepsi</button>

                        @foreach (var item in Model.DTO_galery_tur)
                        {
                        <button type="button" class="btn btn-info" onclick="filterSelection('@item.tur')" > @item.tur</button>
                        @*<label class="btn btn-primary">
                            <input type="radio" name="options" id="option2" onclick="filterSelection('@item.tur')" autocomplete="off"> @item.tur
                        </label>*@
                        }
                    @*</div>*@
                </div>
            </div>
        </div>
    </div>
    <div class="row alazea-portfolio">
        <!-- Single Portfolio Area -->


        @foreach (var item in Model.DTO_galery)
            {
        <div class="column_galery single_portfolio_item @item.filter_name wow fadeInUp" data-wow-delay="100ms">
            <!-- Portfolio Thumbnail -->
            <div class="portfolio-thumbnail bg-img" style="background-image: url('data:image/png;base64,@System.Convert.ToBase64String(item.galery_pic)');"></div>
            <!-- Portfolio Hover Text -->
            <div class="portfolio-hover-overlay">
                <a href="data:image/png;base64,@System.Convert.ToBase64String(item.galery_pic)" class="portfolio-img d-flex align-items-center justify-content-center" title=@item.title>
                    <div class="port-hover-text">
                        <h3>@item.baslik</h3>
                        <h5>@item.alt_baslik</h5>
                    </div>
                </a>
            </div>
        </div>
        }

        @*@Html.Action("Galery_Partial")*@
        @*@Html.Partial("_PartialGalery",Model.DTO_galery)*@


    </div>
</div>


<!-- ##### Müşteri yorumları ##### -->
<!-- ##### İletişim ##### -->
<section class="contact-area bg-gray section-padding-100-0">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-lg-5">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h2>BİLGİ İSTEK FORMU</h2>
                    <p>Mesajınız iletin, müşteri temsilcimiz sizi arasın.</p>
                </div>
                <!-- Contact Form Area -->
                <div class="contact-form-area mb-100">
                    @using (Html.BeginForm("BilgiIstekFormuGonder", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                    @Html.AntiForgeryToken()

                    @*@Html.ValidationSummary(false, "", new { @class = "text-danger" })*@
                    <div class="row">

                        <div class="col-12 col-sm-6">
                            @Html.TextBoxFor(x => x.DTO_iletisim.name, new { placeholder = "Adınız...", @class = "form-control" })
                        </div>
                        <div class="col-12 col-sm-6">
                            @Html.TextBoxFor(x => x.DTO_iletisim.eposta, new { placeholder = "Email Adresiniz...", @class = "form-control" })

                        </div>
                        <div class="col-12">
                            @Html.TextBoxFor(x => x.DTO_iletisim.konu, new { placeholder = "Konu...", @class = "form-control" })
                        </div>
                        <div class="col-12">
                            @Html.TextAreaFor(x => x.DTO_iletisim.mesaj, new { placeholder = "Mesajınız...", @class = "form-control" })
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn alazea-btn mt-15">GÖNDER</button>
                            <label>@TempData["Mesaj"]</label>
                        </div>
                    </div>


                    }

                </div>
            </div>

            <div class="col-12 col-lg-6">
                <!-- Google Maps -->
                <div class="map-area mb-100">
                    @*   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.179165086162!2d29.001578315719065!3d41.02133602656952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDHCsDAxJzE2LjgiTiAyOcKwMDAnMTMuNiJF!5e0!3m2!1str!2str!4v1579725696064!5m2!1str!2str" allowfullscreen></iframe>*@

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d266.12866421849094!2d28.67220686187549!3d41.00551528289827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b55f7fcf2d279b%3A0xbe8a6b4d8162d8f3!2sPerdeci!5e0!3m2!1str!2str!4v1580905847328!5m2!1str!2str" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Contact Area End ##### -->

@Bootstrap.ModalPopup(id: "denemehkn", title: "HİZMETLERİMİZ")
