@model List<AloStorPerdeYikama_v2.Models.Galery_Tur>


@*<button type="button" class="btn btn-outline-primary">Hepsi</button>*@
<a class="btn btn-outline-primary" id="0" href="@Url.Action("Index","Home")" role="button">Hepsi</a>

    @foreach (var item in Model)
    {
        @*<a class="btn btn-outline-primary" id="@item.ID" href="/Home/ByCategory/@item.ID" role="button">@item.tur</a>*@
        <a class="btn btn1 btn-outline-primary" id="@item.ID" href="/Home/ByCategory/@item.ID" role="button">@item.tur</a>
    }
