@model AloStorPerdeYikama_v2.Models.Iletisim
@{
    ViewBag.Title = "İletişim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ##### Header Area End ##### -->
<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(../../Content/img/bg-img/ContactUs.jpg);">
        <h2>İletişim</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Home"><i class="fa fa-home"></i> Ana Sayfa</a></li>
                        <li class="breadcrumb-item active" aria-current="page">İletişim</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Contact Area Info Start ##### -->
<div class="contact-area-info section-padding-0-100">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <!-- Contact Thumbnail -->
            <div class="col-12 col-md-6">
                <div class="contact--thumbnail">
                    <img src="../../Content/img/bg-img/iletisim_resim.PNG" alt="iletişim resmi" style="height:400px;"/>
                </div>
            </div>

            <div class="col-12 col-md-5">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h2>İLETİŞİM</h2>
                    <p>Bir telefon kadar yakınız...</p>
                </div>
                <!-- Contact Information -->
                <div class="contact-information">
                    <p><span>Addres:</span> Yakuplu Mah E-5 Karayolu Üzeri Hasırcılar İş Merkezi, D:1, 34524 Beylikdüzü/İstanbul</p>
                    <p><span>Telefon:</span> 0 543 721 36 15 - 0 543 721 36 14</p>
                    <p><span>Email:</span> aloostorperdeyikama@gmail.com</p>
                    <p><span>Çalışma Saatleri:</span> Pazartesi - Cumartesi 8:00 - 20:00</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Contact Area Info End ##### -->
<!-- ##### İletişim ##### -->
<section class="contact-area bg-gray section-padding-100-0">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-lg-5">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h2>BİLGİ İSTEK FORMU</h2>
                    <p>Mesajınız iletin, müşteri temsilcimiz sizi arasın.</p>
                </div>
                <!-- Contact Form Area -->
                <div class="contact-form-area mb-100">
                    @using (Html.BeginForm("BilgiIstekFormuGonder", "Contact", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        @*@Html.ValidationSummary(false, "", new { @class = "text-danger" })*@
                        <div class="row">

                            <div class="col-12 col-sm-6">
                                @Html.TextBoxFor(x => x.name, new { placeholder = "Adınız...", @class = "form-control" })
                            </div>
                            <div class="col-12 col-sm-6">
                                @Html.TextBoxFor(x => x.eposta, new { placeholder = "Email Adresiniz...", @class = "form-control" })

                            </div>
                            <div class="col-12">
                                @Html.TextBoxFor(x => x.konu, new { placeholder = "Konu...", @class = "form-control" })
                            </div>
                            <div class="col-12">
                                @Html.TextAreaFor(x => x.mesaj, new { placeholder = "Mesajınız...", @class = "form-control" })
                            </div>

                            <div class="col-12">
                                <button type="submit" class="btn alazea-btn mt-15">GÖNDER</button>
                                <label>@TempData["Mesaj"]</label>
                            </div>
                        </div>


                    }

                </div>
            </div>

            <div class="col-12 col-lg-6">
                <!-- Google Maps -->
                <div class="map-area mb-100">
                    @*   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.179165086162!2d29.001578315719065!3d41.02133602656952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDHCsDAxJzE2LjgiTiAyOcKwMDAnMTMuNiJF!5e0!3m2!1str!2str!4v1579725696064!5m2!1str!2str" allowfullscreen></iframe>*@

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d266.12866421849094!2d28.67220686187549!3d41.00551528289827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b55f7fcf2d279b%3A0xbe8a6b4d8162d8f3!2sPerdeci!5e0!3m2!1str!2str!4v1580905847328!5m2!1str!2str" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Contact Area End ##### -->
